<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>School Management</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">School Management</a>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    {%  if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>

                    <li class="nav-item">
                        <h5 class="nav-link"> Hello, {{ request.user.first_name }} {{request.user.last_name}}</h5>
                    </li>

                    {% endif %}



                </ul>
            </div>
        </div>

    </nav>

    <br />

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript"></script>

    {% block javascript %}

    {% endblock %}
</body>

</html>