{% extends "base.html" %}

{% block content %}

<form action="" method="post" id="my_form">

    {% csrf_token %}
    <div class="form-group">
        {{form}}
    </div>

    <button type="submit" class="btn btn-primary">Save Marks</button>

</form>

{% endblock %}


{% block javascript %}

<script>
    $("my_form").submit(function () {

        //   function getChild() {
        var username = "{{ user.get_username}}"

        var subject = "{{ subject }}"  // passes by view create_attendance_api



        console.log("click");

        $.ajax({
            type: "POST",
            url: "/save_marks/" + subject,  //  I want to use reverse url lookup like {url 'xyz' } but it is throwing errors saying 'xyz' is not a view


            success: function (json) {
                if (json.length == 0) {

                    $("#error_text").val("Some error occured.")
                }
            } //end success
        }); //end ajax
    }
    );
</script>

{% endblock %}